/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor principal del calendario */
.calendar {
  background-color: #fff;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Sección de año y mes */
.year-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo de los días de la semana */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f1f1f1;
  padding: 5px 0;
}

.days div {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  border: 0.5px solid black;
}

/* Estilo de las fechas */
.date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  padding: 5px;
}

.date div {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  height: 80px;
  background-color: #f9f9f9;
  border: 0.5px solid black;
}

.task-button {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border: 0.5px solid black;
  cursor: pointer;
}